<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AuthDemo - Conferma Registrazione</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-screen h-screen bg-emerald-50">
    <div class="w-full flex justify-center">
        <div class="w-3/6 bg-white rounded-lg px-4 py-6 mt-10 text-center">
            <div class="text-center text-2xl font-bold">
                Conferma il tuo Codice Fiscale
            </div>
            <form action="#" class="w-full flex flex-col items-center mt-5" th:object="${request}" th:action="@{/registration/confirm-registration}" method="post">
                <input type="hidden" th:field="*{token}" th:value="*{token}" />
                <div class="grid grid-cols-2 gap-4">
                    <label for="fiscal-code">Codice Fiscale</label>
                    <input type="text" id="fiscal-code" class="border border-black px-2 py-1 rounded-lg" th:field="*{fiscalCode}" placeholder="Codice Fiscale..." />
                </div>

                <input type="submit" class="text-white text-lg rounded-lg px-2 py-1 bg-emerald-500 mt-5 cursor-pointer hover:bg-emerald-700" value="Invia" />
            </form>
        </div>
    </div>
</body>
</html>