<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AuthDemo - Registrazione Confermata</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-screen h-screen bg-emerald-50">
    <div class="w-full flex justify-center">
        <div class="w-3/6 bg-white rounded-lg px-4 py-6 mt-10 font-bold text-2xl text-center">
            Congratulazioni!<br />
            Hai verificato la tua identità
            <div class="w-full flex justify-center">
                <a href="/users/login" class="bg-emerald-500 hover:bg-emerald-700 rounded-lg text-white text-center px-2 py-1 cursor-pointer">
                    Vai al login
                </a>
            </div>
        </div>
    </div>
</body>
</html>