<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AuthDemo - Registrazione Completata</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-screen h-screen bg-emerald-50">
<div class="w-full flex justify-center">
    <div class="w-3/6 bg-white rounded-lg px-4 py-6 mt-10 font-bold text-2xl text-center">
        Hai completato con successo il login
    </div>
</div>
</body>
</html>